* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.container {
    width: 85%;
    margin: auto;
    height: 100%;
}

body {
    width: 1366px;
}

/* Sunnat start */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

header {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #5361FF;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100px;
}

header .container {
    width: 90%;
    margin: 0px auto;
}

header .parent {
    width: 100%;
    justify-content: space-between;
}

header .text_logo {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 0;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #FAFAFF;
}

header .right a {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #FAFAFF;
    margin-left: 30px;
}

header .navbar {
    display: none;
}

.parent__main {
    width: 100%;
    height: 70vh;
    background-color: #5361FF;
    position: relative;
    top: 100px;
}

.parent__main .text_one {
    font-size: 120px;
    line-height: 124px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-decoration: none;
    color: #FFF;
    margin-bottom: 20px;
}

.parent__main .text_one span {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}

.parent__main .text_two {
    font-size: 30px;
    line-height: 34px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #FAFAFF;
}

.parent__main .parent {
    flex-direction: column;
    height: 100%;
    padding-top: 100px;
}

.parent__main .container {
    width: 90%;
    margin: 0px auto;
}

@media screen and (min-width: 200px) and (max-width:768px) {
    .parent__main .text_one {
        font-size: 45px;
        line-height: 48px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        text-decoration: none;
        color: #FFF;
        margin-bottom: 10px;
        text-align: center;
    }

    .parent__main .text_two {
        font-size: 25px;
        line-height: 28px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        text-decoration: none;
        color: #FAFAFF;
        text-align: center;
    }

    header .parent .right {
        display: none;
    }

    header .parent .navbar {
        display: block;
    }

    header .parent .navbar i {
        color: #FFF;
        font-size: 30px;
    }

}

/* Sunnat end */
/* Dilnona start */

/* Dilnona end */
/* Abdurahmon start */

/* Abdurahmon end */
/* Abbos start */

/* Abbos end */