* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    height: 100%;
}

body {
    width: 1366px;
}

/* Sunnat start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    width: 1366px;
}
ol,ul{
    list-style: none;
}
a{
    text-decoration: none !important;
}
.container{
    width: 90%;
    margin: auto;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

header {
    padding: 20px 0;
    background-color: #5361FF;
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0;
}

header .parent {
    justify-content: space-between;
    background-color: #5361FF;
}

header .text_logo {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 0;
    cursor: pointer;
    font-weight: 500;
    color: #FAFAFF;
}

header .right a {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #FAFAFF;
    margin-left: 30px;
}

header .navbar {
    display: none;
}

.parent__main {
    background-color: #5361FF;
   
}

header .parent__main .text_one {
    font-size: 120px;
    line-height: 124px;
    font-weight: 900;
    color: #FFF;
    margin-bottom: 20px;
}

header  .parent__main .text_one span {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .parent__main .text_two {
    font-size: 30px;
    line-height: 34px;
    font-weight: 500;
    color: #FAFAFF;
}

.parent__main .parent {
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
}


.offcanvas .href {
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
    text-align: center;
    display: block;
}

@media screen and (min-width: 350px) and (max-width:768px) {
    .parent__main .text_one {
        font-size: 39px;
        line-height: 48px;
        font-weight: 900;
        color: #FFF;
        margin-bottom: 10px;
        text-align: center;
    }

    .parent__main .text_two {
        font-size: 25px;
        line-height: 28px;
        font-weight: 500;
        color: #FAFAFF;
        text-align: center;
    }

    header .parent .right {
        display: none;
    }

    header .parent .navbar {
        display: block;
    }

    header .parent .navbar i {
        color: #FFF;
        font-size: 30px;
    }

}

@media screen and (min-width: 100px) and (max-width: 340px) {
    .parent__main .text_one {
        font-size: 30px;
        line-height: 35px;
        font-weight: 900;
        color: #FFF;
        margin-bottom: 10px;
        text-align: center;
    }

    .parent__main .text_two {
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        color: #FAFAFF;
        text-align: center;
    }

    header .parent .right {
        display: none;
    }

    header .parent .navbar {
        display: block;
    }

    header .parent .navbar i {
        color: #FFF;
        font-size: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width:1024px) {
    .parent__main .text_one {
        font-size: 60px;
        line-height: 68px;
        font-weight: 900;
        color: #FFF;
        margin-bottom: 10px;
        text-align: center;
    }

    .parent__main .text_two {
        font-size: 35px;
        line-height: 38px;
        font-weight: 500;
        color: #FAFAFF;
        text-align: center;
    }

    header .parent .right {
        display: none;
    }

    header .parent .navbar {
        display: block;
    }

    header .parent .navbar i {
        color: #FFF;
        font-size: 30px;
    }

}

/* Sunnat end */
/* Dilnona start */

/* Dilnona end */
/* Abdurahmon start */

/* Abdurahmon end */
/* Abbos start */

/* Abbos end */