* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

ul,
ol {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
    height: 100%;
}

body {
    max-width: 1366px;
    width: 100%;
}

/* Sunnat start */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

header {
    padding: 20px 0;
    background-color: #5361FF;
}

header .parent {
    justify-content: space-between;
    background-color: #5361FF;
}

header .text_logo {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 0;
    cursor: pointer;
    font-weight: 500;
    color: #FAFAFF;
}

header .right a {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #FAFAFF;
    margin-left: 30px;
}

header .navbar {
    display: none;
}

header .parent__main {
    background-color: #5361FF;

}

header .parent__main .text_one {
    font-size: 120px;
    line-height: 124px;
    font-weight: 900;
    color: #FFF;
    margin-bottom: 20px;
}

header .parent__main .text_one span {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .parent__main .text_two {
    font-size: 30px;
    line-height: 34px;
    font-weight: 500;
    color: #FAFAFF;
}

header .parent__main .parent {
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
}


.offcanvas .href {
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
    text-align: center;
    display: block;
}

@media screen and (min-width: 350px) and (max-width:768px) {
    header .parent__main .text_one {
        font-size: 39px;
        line-height: 48px;
        font-weight: 900;
        color: #FFF;
        margin-bottom: 10px;
        text-align: center;
    }

    header .parent__main .text_two {
        font-size: 25px;
        line-height: 28px;
        font-weight: 500;
        color: #FAFAFF;
        text-align: center;
    }

    header .parent .right {
        display: none;
    }

    header .parent .navbar {
        display: block;
    }

    header .parent .navbar i {
        color: #FFF;
        font-size: 30px;
    }

}

@media screen and (min-width: 100px) and (max-width: 340px) {
    header .parent__main .text_one {
        font-size: 30px;
        line-height: 35px;
        font-weight: 900;
        color: #FFF;
        margin-bottom: 10px;
        text-align: center;
    }

    header .parent__main .text_two {
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        color: #FAFAFF;
        text-align: center;
    }

    header .parent .right {
        display: none;
    }

    header .parent .navbar {
        display: block;
    }

    header .parent .navbar i {
        color: #FFF;
        font-size: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width:1024px) {
    header .parent__main .text_one {
        font-size: 60px;
        line-height: 68px;
        font-weight: 900;
        color: #FFF;
        margin-bottom: 10px;
        text-align: center;
    }

    header .parent__main .text_two {
        font-size: 35px;
        line-height: 38px;
        font-weight: 500;
        color: #FAFAFF;
        text-align: center;
    }

    header .parent .right {
        display: none;
    }

    header .parent .navbar {
        display: block;
    }

    header .parent .navbar i {
        color: #FFF;
        font-size: 30px;
    }

}

/* Sunnat end */


/* <-=============== A'zam start ===============->  */
.section_2 {
    background-color: #f9e498;
    padding: 25px 0;
    text-align: center;
}

.section_2 .sect2_photo {
    width: 500px;
    object-fit: cover;
}

.section_2 .sect2_h1 {
    font-size: 80px;
    color: #000;
    margin: 30px 0 30px 30px;
}

.section_2 .sect2_logo_icons i {
    font-size: 100px;
}

.section_2 span {
    margin: 25px;
}

.section_2 .html {
    color: #FF5733;
}

.section_2 .css {
    color: #00FFFF;
}

.section_2 .scss {
    color: #bf4080;
}

.section_2 .js {
    color: yellow;
}

.section_2 .react {
    color: #0039FF;
}

.section_2 .node {
    color: #194D33;
}

.section_2 .sect2_social_media i {
    font-size: 50px;
    margin-top: 50px;
}

.section_2 .telegram {
    color: #0088cc;
}

.section_2 .instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section_2 .phone {
    color: rgb(79, 169, 79);
}

.section_2 .sect2_socalMedia_a {
    margin: 0 12px;
}

@media screen and (min-width:200px) and (max-width:768px) {
    .section_2 .flex {
        display: block;
    }

    .section_2 .sect2_logo_icons {
        margin: 50px 0;
    }

    .section_2 .sect2_h1 {
        font-size: 40px;
    }

    .section_2 .sect2_logo_icons i {
        font-size: 80px;
    }

    .section_2 .sect2_social_media i {
        font-size: 30px;
        margin-top: -15px;
    }

    .section_2 .sect2_photo {
        width: 100%;
        object-fit: cover;
    }
}

/* <-=============== A'zam end ===============-> */


/* Abdurahmon start */
.portfolio {
    padding: 50px 0;
}

.portfolio__title {
    margin-bottom: 40px;
    font-style: italic;
    font-size: 36px;
    text-align: center;
}

.portfolio__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    /* grid-template-rows: repeat(1fr, 2); */
    gap: 30px;
}

.portfolio__card {
    border-radius: 12px;
    padding: 10px;
    background: rgb(240, 240, 240);
}

.card__header {
    border-radius: 10px;
    height: 389px;
    margin-bottom: 16px;
    overflow: hidden;
}

.card__header:hover .card__img {
    transform: scale(1.05);
}

.card__img {
    width: 100%;
    object-fit: cover;
    transition: .5s;
}

.card__txt {
    font-size: 14px;
    text-align: justify;
}

.card__btn {
    color: #fff;
    display: block;
    margin-left: auto;
    padding: 8px 10px;
    border-radius: 6px;
    background: #5361FF;
    width: max-content;
}

.card__btn:hover {
    color: #fff;
}

/* Abdurahmon end */

/* Abbos start */
footer {
    margin: 160px auto 0 auto;
}

footer .footer__main {
    gap: 25px;
}

footer .footer__menu {
    max-width: 600px;
    width: 100%;
}

footer .footer__logo {
    color: #5361FF;
    font-size: 30px;
}

footer .footer__text {
    width: 420px;
    line-height: 25px;
    text-align: justify;
    color: #767776;

}

footer .footer_box {
    width: 280px;
    height: auto;
    padding: 20px 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #b1b1b1;
    margin: 0 10px 10px 0;
    align-items: center;
    transition: .5s;
}

footer .footer_box:hover {
    transform: translateY(-15px);
}

footer .footer__icon__text {
    justify-content: start;
    margin-bottom: 0;
}

footer a {
    color: #5361FF;
}

footer .footer__icon {
    margin: 0 20px 0 10px;
    background-color: #5361FF;
    color: #fff;
    border-radius: 50%;
    padding: 15px;
    font-size: 20px;
}

footer .footer__icon_3 {
    margin: 0 20px 0 10px;
    background-color: #5361FF;
    color: #fff;
    border-radius: 50%;
    padding: 15px;
    font-size: 17px;
}

footer .footer__form {
    text-align: right;
}

footer .footer__input {
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    font-size: 20px;
    margin-right: 0;

}

footer .footer__message {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 20px;
}

footer .footer__btn {
    padding: 8px 30px 6px 30px;
    border: 1px solid #5361FF;
    background: #5361FF;
    color: #fff;
}

@media screen and (min-width:200px) and (max-width:768px) {
    footer .footer__main{
        flex-direction: column;
    }
}

/* Abbos end */